@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&display=swap");
.inputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.inputField {
  border-radius: 5px;
  width: 30%;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  -webkit-box-shadow: 6px 6px 15px 5px rgba(218, 218, 218, 0.5);
  box-shadow: 6px 6px 15px 5px rgba(218, 218, 218, 0.5);
  font-family: "Hi Melody", cursive;
}
.inputField::placeholder {
  opacity: 0.3;
}
.sumbitButton {
  background-color: rgb(149, 99, 251);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
  box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
  font-size: 1rem;
  font-weight: 700;
}
.sumbitButton:hover {
  transform: scale(1.05);
}
