.login {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.inputContainer {
  width: 50%;
  min-width: 235px;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.cover {
  width: 50%;
}
.coverImage {
  width: 80%;
  height: 80%;
}
