.login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  width: 50%;
  border: 1px solid gray;
}
.coverImage {
  width: 50%;
  background-color: blue;
  min-width: 235px;
}
