.login {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.inputContainer {
  width: 50%;
  border: 1px solid gray;
  min-width: 235px;
  max-width: 400px;
}
.coverImage {
  width: 50%;
  min-width: 235px;
  max-width: 500px;
}
