@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
.listItem {
  padding: 1rem;
  border-bottom: 0.5px solid grey;
  font-family: "Gowun Dodum", sans-serif;
}
.itemForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  width: 1.1rem;
  height: 1.1rem;
}
.modifyButton {
  background-color: #ca92ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
  box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
}
.modifyButton:hover {
  background-color: #ecabff;
}

.deleteButton {
  background-color: #ffdade;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
  box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
}
.deleteButton:hover {
  background-color: #ecabff;
}
.submitButton {
  background-color: #caffca;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
  box-shadow: 4px 4px 0px -2px rgba(218, 218, 218, 0.99);
}
.submitButton:hover {
  background-color: #ecabff;
}
.todoCompleted {
}
