.listItem {
  padding: 1rem;
  border-bottom: 0.5px solid grey;
}
.itemForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
}
.modifyButton {
  background-color: #6035c7;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 0.3rem;
  cursor: pointer;
}
